* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    min-height: 100vh;
    background-color: #0A2239;
}

ol, ul {
    padding-left: 0;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
    width: 0;
    height: 0;
}

.hover-underline {
    display: inline-block;
    position: relative;
    color: #fff;
}

.hover-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}