main {
    margin-top: 3.5rem;

    .header {
        height: 20rem;
        text-align: center;
        padding: 10rem 0;
        margin-bottom: 5rem;

        .header-title {
            color: #fff;
            margin-bottom: 3rem;
        }

        .header-description {
            color: #ccc;
            opacity: 0.8;

            .ffe {
                color: #fff;
                opacity: 1;
                font-weight: 500;
            }

            .ffe:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }

    .list-items {
        margin-top: 10rem;
        .items {
            .title-items {
                text-align: left;
                color: #fff;
            }

            .item {
                margin-top: 1rem;
            }

            h4 {
                color: #fff;
            }

            .list {
                color: #fff;

                li {
                    font-size: 1.1rem;
                    margin-left: 3rem;
                    margin-bottom: 1rem;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}